In [ ]:
print("hello world")

#Cloud Computing

- 1 flexible
- 2 reliable
[رابط إلى Google](https://www.google.com)

In [2]:
import pandas as pd

data = {
    'الاسم': ['أحمد', 'محمد', 'فاطمة'],
    'العمر': [25, 30, 22],
    'المدينة': ['الرياض', 'جدة', 'مكة']
}

df = pd.DataFrame(data)
print(df)

   الاسم  العمر المدينة
0   أحمد     25  الرياض
1   محمد     30     جدة
2  فاطمة     22     مكة